  var subplus = function(val) {
    if (val.length == 0 || val == undefined) {
      return;
    }
    if (val.length > 11) {
      return val.substring(0, 11) + "..."
    } else {
      return val;
    }
  }

  var sub = function(val) {
    return val.substring(0, 10);
  }

  var randomHalf = function(val) {
    return val * Math.random() / 4 + val/4;
  }

  module.exports.sub = sub;
  module.exports.subplus = subplus;
  module.exports.randomHalf = randomHalf;
  